$color_1: black;
$color_2: aqua;
$color_3: #0d0d0d;
$color_4: #3d3d3d;
$color_5: #3363ff;
$background-color_1: black;
$background-color_2: white;
$background-color_3: #d8e0fd;
$background-color_4: #c2cffc;